main {
    padding: 16px
}

footer {
    padding: 150px 0px;
    font-size: 20px
}

footer > div {
    padding: 25px 25px;
    background-color: lightgreen;
}

h1 {
    color: maroon;
}


nav {
    border-bottom: black 2px solid;
    padding: 16px;
    background-color: orangered;
}

.mainpage {
    color: white;
    text-decoration: none;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

 .recipe-title {
    color: green;
    text-decoration: none;
    overflow:hidden;
    transition-duration: 0.8s;
    transition-property: transform;

}

.image-1 {
    overflow:hidden;
    transition-duration: 2s;
    transition-property: transform;
}

.image-1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
